<% unless student.new_record? %>
  <% content_for(:sidebar) do %>
    <li><%= link_to I18n.t('student.delete'), student, :confirm => I18n.t('student.confirm'), :method => :delete %></li>
    <% if action_name == "show" %> <li><%= link_to I18n.t('student.edit'), edit_student_url %></li><% end %>
  <% end %>
<% end %>

<% unless action_name == "show" %>
<% content_for(:sidebar) do %>
  <li><%= link_to_function(I18n.t('student.submit'), "$('student_form').submit()") %></li>
<% end %>
<% end %>

<% content_for(:sidebar) do %>
  <li><%= link_to I18n.t('student.back'), :action => 'back' %></li>
<% end %>

<div id="student">
<% form_for(student, :html => {:id => 'student_form'}) do |f| %>
<div id="info">
  <h1><%= I18n.t('student.basic_info') %></h1>
  <%= f.error_messages %>
  <%= render :partial => 'student_form', :object => f %>
</div>

<% end %>
</div>
