<% unless student.new_record? %>
  <% content_for(:sidebar) do %>
    <li><%= link_to I18n.t('student.delete'), student, :confirm => I18n.t('student.confirm'), :method => :delete %></li>
    <% if action_name == "show" %> <li><%= link_to I18n.t('student.edit'), edit_student_url %></li><% end %>
  <% end %>
<% end %>


<% content_for(:sidebar) do %>
  <li><%= link_to I18n.t('student.back'), :action => 'back' %></li>
<% end %>

<div id="student">
<% form_for(student) do |f| %>
<div id="info">
  <h1><%= I18n.t('student.basic_info') %></h1>
  <%= f.error_messages %>
  <%= render :partial => 'student_form', :object => f %>
</div>

<p>
<%= f.submit '送出' %>
</p>
<% end %>
</div>
